
body{
    font-family:  Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
/*============= Front image of website ============== */


/* div for front image */
.frontImg-div{
    box-sizing: border-box;
    width: 97.8vw;
    height: 450px;
    position: absolute;
    z-index: -1;
}

/* actual image */
.frontImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* navbar-div */

.navbar-Maindiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar-div{
    z-index: 1;
    color: white;
    display: flex;
    justify-content: space-between  ;
    width: 70%;
    font-size: 1rem;
    height: 80px;
    align-items: center;

}
.navbar-div> .rightSide-div{
    display:flex;
    /* border: 1px solid rgb(255, 255, 255); */
    
}
.rightSideLabel{
    margin-right: 20px;
    width: auto;
}


/* =================== zomato logo */
.logo-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.6%;
    color: white;
}
.logoImg{
    width: 20% ;
}
.logo-div > h1{
    font-size: 2rem;
}

/* --------- >  search  bar   < ------------ */

.dummySearchBar-div{
    display: flex;
    justify-content: center;
}
.searchBar-div{
    border : 1px solid white;
    display: flex;
    border-radius: 10px;
    gap : 5%;
    width: 45%;
    height: 50px;
    background-color: white;
    justify-content: center;
    
}
.location-div,.search-div{
    display: flex;
    align-items: center;
    gap : 2%;
}
.locationImg,.searchImg{
    width: 20px;
}
.downArrowImg{
    width: 15px;
}
.location-div > input , .search-div > input {
    border: none;
    width: auto;
}   
.search-div > input{
    width: 400px;
}




/* all parent div */
.parentAll-div{
    width: 100%;
    margin-top: 13%;
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* frontpage 3 card */
.first3card-div{
    display: flex;
    align-items: center;
    width: 75%;
    gap: 1.5%;
}
.firstCardImg, .secondCardImg, .thirdCardImg{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    height: 180px;
    margin-bottom: 0px;
}
.firstCard-div, .secondCard-div, .thirdCard-div{
    width: 33.3%;
    border-radius: 10px; 
}
.textOfCard{
    /* margin-top: 0%; */
    padding: 3% 4% 1% 4%;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid  rgb(232, 232, 232);
    border-right: 1px solid  rgb(232, 232, 232);
    border-left: 1px solid  rgb(232, 232, 232);
    border-top: 0px;
    
}
.cardBigText{
    font-size: 1.2rem;
    color: #363636;
    margin : 2% 0;
}
.cardSmallText{
    color : #4F4F4F;
    margin-top: 0%;
}


/*========================= collection div */

.collection-div{
    width: 75%;
}
.BigHeadline{
    font-size: 2.2rem;
    color: #1C1C1C;
    margin-bottom: 0%;
}
.smallTextHeadline{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.smallHeadline{
    font-size: 1.085rem;
    color: #363636;
    margin: 0%;
}
.pinkText-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pinkText{
    color: rgb(239, 79, 95);
}
.rightSidePinkImg{
    height: 15px;
}

/* ===================== images of collection */
.blackDummy-div{
    height: 330px;
    /* border : 1px solid rgb(175, 0, 0); */
    /* z-index: -1; */
    position: absolute;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(transparent, rgb(52, 52, 52));
    justify-content: end;
    width:18.05%;

    padding-left: 1.5%;
    padding-bottom: 1%;
}
.blackDummy-div > .bigText{
    color:white;
    font-size: 1.13rem;
    margin-bottom: 0;
    
}
.blackDummy-div > .smallText{
    color: white;
    margin-top: 2%;
    margin-bottom: 0;
}
.collectionImg-div{
    display: flex;
    gap : 1%;
    width: 100%;
}
.collection1img-div, .collection2img-div, .collection3img-div, .collection4img-div{
    width: 25%;
    height: 330px;
    /* border: 1px solid red; */
}

.collectionimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* display: none; */
}

/* ================  Popular localities in and around */

.popoularCities-div{
    /* border: 1px solid blueviolet; */
    width: 75%;
    margin-top: 4%;
}
.tagline{
    font-size: 2.25rem;
    color: #363636;
}
.pune{
    font-weight: 549;
    color: #1C1C1C;
}

/* card css */
.cards-div{
    display: flex;
    column-gap: 2%;
}
.card{
    /* row-gap: 2%; */
    margin-bottom: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    width: 33.33%;
    /* border: 1px solid #4F4F4F ; */
    box-shadow: 0px 0px 2px #aeaeae;
}
.city{
    font-size: 1.25rem;
    margin: 10% 0;
    color: #1C1C1C;
}
.sideArrow-img{
    width: 6px;
    /* height: 10px; */
}
.place{
    font-size: 1rem;
    color: #363636;
    margin: 10% 0;
}
.lastCard-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lastCard{
    display: flex;
    align-items: center;
    gap: 10px;
}



/*============================== downloadApp-div */
.downloadApp-div{
    background-color: rgb(255, 251, 247);
    /* border: 1px solid red; */
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 5%;
}
.downloadApp-div > .rightSide-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding-left:3% ;
    gap: 3%;
}
.download-img{
    width: 100%;
    height: 100%;
}
.leftSide-div{
    width: 28%;
    /* border: 1px solid red; */
    padding: 4% 1%;
}
.getZomatoApp{
    font-size:2.75rem;
    margin-top: 2%;
    margin-bottom: 2%;
}
.sendLink{
    font-size:1.1rem;
    line-height: 200%;
    letter-spacing: 0.3px;
}
.radio-div{
    font-size: 1rem;
    display: flex;
    /* flex-direction: column; */
    width: 50%;
    gap: 20%;
    /* border: 1px solid red; */

}
.mailBox{
    padding: 3.5%;
    border-radius: 5px; 
    border: 1px solid #c4c4c4;
    width: 60%;
}
.shareLinkButton{
    /* width: 30%; */
    padding: 3.5%;
    border-radius: 5px;
    border: none;
    background-color: rgb(239, 79, 95);
    font-size: 1rem;
    color: white;
}
.buttons-div{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 1%;
    /* border: 1px solid black; */
    box-sizing: border-box;
}
.googleplayBut-img,.playStoreBut-img{
    width: 46%;
}

/* Explore options near me */

.exploreOptions-div{
    display: flex;
    flex-direction: column;
    width: 75%;
    /* border: 1px solid red; */
    /* column-gap: 50px; */
    row-gap: 20px;
}
.exploreOptions-div > p {
    font-size: 2rem;

    margin-bottom: 1.75%;
    color: #363636  ;
}
.options-div{
    display: flex;
    justify-content: space-between;

    border: 1px solid rgb(214, 214, 214);
    align-items: center;
    padding: 0 2%;
    border-radius: 10px;

}
.options-div > p {
    font-size: 1.25rem;
    color: #1C1C1C;
    
}
.downSideArrowImg{
    width: 16px;
    height: 8px;

}


/* ==========================footer */

.footerMain-div{
    /* border: 1px solid red; */
    padding: 5% 0;
    box-sizing: border-box;
    width: 75%;
}
.footerTop-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* width: 30%; */
}
.zomatoBlackLogo{
    width: 130px;
}
.footerTop-div > .rightSide-div{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: row; */
    width: 25%;
    /* border: 3px solid red; */
}
.country-div, .language-div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 5px;
    padding: 3% 6%;
    gap: 10%;
}
.indiaFlag,.earthLogo {
    /* width: 20px; */
    height: 20px;
}

/* =========== footer body */

.borderRed {
    /* border : 2px solid red; */
}
.footerBody-div{
    margin-top: 3% ;
    padding-bottom: 4% ;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    border-bottom: 1px solid #c4c4c4;
}
.footerBody-div{
    /* font-weight: 00; */
    color: #696969;
}
.footerBody_BigText {   
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    font-weight: 600 ;
    color: black;
    font-size-adjust: 0.58;
}
.socialMediaLogo-Parentdiv{
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 20%;
}

.socialMediaLogo-div{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 2%;
    box-sizing: border-box;
    width: 100%;
}
.socialMediaLogo{
    width: 25px;
}
.downloadButton{
    width: 50%;
}